* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.center {
  margin: 0 auto;
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
}
.logo_img {
  padding-top: 40px;
}
.logo_text {
  display: flex;
  margin-left: 14px;
  padding-top: 45px;
  align-items: center;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo_text_2 {
  color: #f25822;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header_nav {
  padding-top: 51px;
  margin-left: 500px;
}

.header_link {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 21px;
}
.top_content {
  margin-top: 164px;
  display: flex;
}
.top_img {
  padding-left: 41px;
}
.title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text {
  margin-top: 17px;
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top_buttons {
  margin-top: 37px;
}

.button_left {
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  border: 0;
}
.button_left_text {
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button_rights {
  margin-left: 72px;
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top_logos {
  padding-bottom: 96px;
  margin-top: 97px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_left_logo {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
}
.content_top {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}
.item_content_top {
  margin-left: 30px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.content_top_title {
  padding-top: 25px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content_text_top {
  padding-top: 17px;
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
}
.content_text_top_more {
  padding-top: 25px;
  border: none;
  background: none;

}
.text_top_more{
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
}
.content_bottom {
  padding-top: 92px;
  padding-top: 100px;
}
.title_content_bottom {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.text_content_bottom {
  margin-top: 19px;
  color: #666;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.item_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_content_bottom {
  background: #fff;
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 15px;
  margin-top: 54px;
  text-align: center;
}
.content_bottom_img {
  height: 300px;
}
.content_bottom_title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content_bottom_text {
  margin-top: 22px;
  margin-bottom: 39px;
  color: #aaa;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
}
.content_bottom_button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 0;
  background: #f25822;
}
.text_content_bottom {
  color: #fff;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 19.5px */
}
